body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.box {
    height: 200px;
    width: 200px;
    background-color: #21b6b6;
    transition: background-color 1, width 1s, height 1s;

}

.box:hover {
    background-color:#888dda;
    height: 500px;
    width: 500px;
}

.return {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 9999;
}

.return img {
    width: 40px;
    height: 40px;
}