body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f1f1f1;
  }
  
  .box {
    width: 200px;
    height: 200px;
    background-color: #8fbe00;
    animation: Color 8s linear infinite;
  }
  
  @keyframes Color {
    0% {
      transform: rotate(0deg);
      background-color:#aee239;
    }
    25% {
      transform: rotate(45deg);
      background-color: #40c0cb;
    }
    50% {
      transform: rotate(90deg);
      background-color: #00a8c6;
    }
    75% {
      transform: rotate(135deg);
      background-color: #c44d58;
    }
    100% {
      transform: rotate(180deg);
      background-color: #ff6b6b;
    }
  }
  
  .return {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 9999;
}

.return img {
    width: 40px;
    height: 40px;
}